// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  text-align: center;
}

body>ul {
  list-style-type: none;
}

body>ul>li {
  display: inline;
  padding: 10px;
  background-color: #3498DC;
  color: #FFFFFF;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #CCCCCC;

}

h1 {
  margin: 10px;
}

body > form > p {
  margin: 10px;
  padding: 10px;
}

body > form > input {
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

body > form > input[type=text]:nth-child(2) {
  border: 2px solid #3498DC;
}

body > a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  background-color: #3498DC;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.6;
}

body > a:hover {
  opacity: 1.0;
}
